<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form method="post" action="log">
        <label>Логин: <input type="text" /></label>
        <label>Пароль: <input type="password" /></label>
    </form>
</body>
</html>